.footer-container {
  display: block;
  text-align: center;
  padding: 15px 54px;
  background: #2D4C68;
  position: fixed;
  bottom: 0;
  color: #fff;
  width: 100%;
  font-size: 12px;
  line-height: 24px;
  font-family: 'Cabin', sans-serif;
  letter-spacing: 1px;
}

.footer-container .footer-information {
  display: inline-flex;
  background: #2D4C68;
}

.footer-container .footer-information .footer-col {
  text-align: left;
  position: relative;
  display: inline-block;
  width: auto;
  margin-right: 50px;
}

.footer-container .footer-information .footer-col .footer-col-title{
  color: #BADA55;
  font-size: 14px;
}

.footer-container .footer-div {
  float: left;
  position: relative;
}

.social-icon{
  height: 42px;
  width: auto;
  float: right;
  margin: 15px 15px 0 15px;
}

.icon-div{
  margin-right: 75px;
}
