.header {
  background: white;
  color: #29A200;
  font-size: 16px;
  padding-left: 32px;
  padding-right: 32px;
  font-family: 'Cabin', sans-serif;
  vertical-align: middle;
}

.header .logo {
  width: 5%;
  vertical-align: middle;
  padding: 10px;
}

.top-nav{
  text-align: center;
  color: #76767C;
  padding-left: 50px;
}

.nav-item{
  padding-left: 26px;
  padding-right: 26px;
  position: relative;
  text-decoration: none;
}

.nav-item:hover{
  cursor: pointer;
}

.nav-item:before {
  content: "";
  position: absolute;
  width: 70%;
  height: 2px;
  bottom: -16px;
  left: 15%;
  background-color: #BADA55;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-item:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.profile-icon{
  height: 42px;
  width: auto;
  float: right;
  margin: 15px 15px 0 15px;
}
