li {
    display: inline-block;
}

ul{
  list-style-type: none;
}

.title {
  text-align: center;
  color: #29A200;
  font-family: 'BioRhyme', serif;
  padding-top: 60px;
  font-size: 36px;
}

.subtitle {
  text-align: center;
  color: #76767C;
  font-family: 'Cabin', sans-serif;
  padding-top: 25px;
  font-size: 16px;
}

.box-list{
    white-space: nowrap;
}

.boxed{
    background: #fff;
    flex: 0 0 32%;
    max-width: 250px;
    min-width: 240px;
    max-height: 110px;
    min-height: 100px;
    padding: 150px 20px 60px;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.21);
    margin: 20px 5px 0px 5px;
}

.box-wrapper{
  text-align: center;
}

.btn{
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  min-width: 150px;
  text-align: center;
  display: inline-block;
  font-family: 'Cabin', sans-serif;
  margin-top: 70px;
}

.btn .html-css-btn{
  background: #925AEC;
  padding: 15px 60px;
  border-radius: 100px;
}

.btn .html-css-btn:hover{
  background: #5627A3;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.21);
}

.btn .js-btn{
  background: #2CD7EE;
  padding: 15px 60px;
  border-radius: 100px;
}

.btn .js-btn:hover{
  background: #0d86a1;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.21);
}

.icon {
  width: 40%;
  margin-top: -70px;
}
