.footer {
  display: flex;
  align-items: center;
  padding: $padding;
  background: $brand-secondary;
  color: $text-color-light;
  font-size: $text-size-sm;
}

.footer-col {
  text-align: left;
  position: relative;
  display: inline-block;
  width: auto;
  margin-right: 50px;
}

.footer-col__title {
  color: $brand-primary;
  font-size: $text-size-md;
}

.footer-col__link {
  color: $text-color-light;
  text-decoration: none;
  display: block;

  &:hover {
    color: $brand-primary;
  }
}
