.social-icons {
  display: flex;
}

.social-icon {
  flex: 1 0 auto;
  max-width: 35px;
  display: inline-block;

  &:not(:last-child) {
    margin-right: $padding/2;
  }

  img {
    display: block;
    width: 100%;
  }
}
