li {
  display: inline-block;
}

ul {
  list-style-type: none;
}

.page {
  padding: 0 $padding;
  min-height: calc(100vh - 202px);
}

.page-topper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: $padding 0 $padding * 2;
}

.page__title {
  color: $brand-primary-alt;
  font-family: $title-font-family;
  margin: 0;
  font-size: $title-size-lg;
}

.page__sub-title {
  color: $text-color-medium;
  margin: $padding/2 0 0;
}

.box-list {
  white-space: nowrap;
}

.lessons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lesson {
  background: $bg-light;
  display: flex;
  flex: 1 0 auto;
  max-width: 25%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $padding * 2 $padding $padding;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);

  &:not(:last-child) {
    margin-right: $padding;
  }
}

.lesson__header {
  width: 100%;
  display: flex;
  margin-bottom: $padding * 2;
  justify-content: center;
}

.lesson__icon {
  flex: 1 0 auto;
  max-width: 150px;
}

.btn {
  color: $text-color-light;
  letter-spacing: 1px;
  text-align: center;
  display: inline-block;
}

.btn .html-css-btn {
  background: #925aec;
  padding: 15px 60px;
  border-radius: 100px;
}

.btn .html-css-btn:hover {
  background: #5627a3;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);
}

.btn .js-btn {
  background: #2cd7ee;
  padding: 15px 60px;
  border-radius: 100px;
}

.btn .js-btn:hover {
  background: #0d86a1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);
}
