$white: #e5e5e5;
$gray: darken($white, 10%);
$black: #212121;

// .canvas {
//   background: $black;
//   width: 500px;
//   height: 500px;
//   margin: 10px auto;
//   position: relative;
// }

body {
  margin: 0;
  padding: 0;
}
.wrapper {
  background: $black;
  width: 100vw;
  height: 100vh;
}

.bunny {
  width: 175px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ears {
  height: 75px;
}

.ear-left,
.ear-right {
  width: 25px;
  height: 55px;
  background: $white;
  position: absolute;
  border-radius: 10px 10px 50% 50%;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 50%;
    height: 50%;
    background: #cccccc;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 10px 10px 50% 50%;
  }
}
.ear-left {
  left: 45px;
  transform: rotate(-20deg);
}
.ear-right {
  right: 45px;

  transform: rotate(20deg);
}

.head {
  background: $white;
  width: 125px;
  height: 105px;
  border-radius: 4em 4em 3em 3em;
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 0 5px 5px rgba($black, 0.4);
  z-index: 10;
}

.eyes {
  position: absolute;
  width: 100px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.eye-left,
.eye-right {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #cccccc;
  border-radius: 100%;

  &::before {
    content: "";
    position: absolute;
    background: $black;
    width: 65%;
    height: 65%;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  &::after {
    content: "";
    position: absolute;
    width: 35%;
    height: 35%;
    background: $white;
    top: 5px;
    left: 5px;
    border-radius: 100%;
  }
}

.eye-left {
  left: -5px;
}

.eye-right {
  right: -5px;
}

.mouth {
  background: $black;
  width: 2px;
  height: 10px;
  position: absolute;
  top: 60px;
  left: 63px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: inline-block;
    background: $black;
    top: 85%;
    left: -4px;
  }
  & :after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 75%;
    left: 4px;
  }
}

.body {
  background: $white;
  width: 75px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  border-radius: 7em 7em 4em 4em;
}

.arm-left,
.arm-right {
  position: absolute;
  width: 10px;
  height: 40px;
  border-radius: 10px;
  background: $white;
  top: 10px;
}

.arm-left {
  left: -3px;
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}

.arm-right {
  right: -3px;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.foot-left,
.foot-right {
  position: absolute;
  width: 10px;
  height: 30px;
  border-radius: 10px/40%;
  background: $white;
  top: 50px;
}

.foot-left {
  left: 20px;
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.foot-right {
  right: 20px;
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}
