*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("http://wallpapershdnow.com/images/movies/animation/incredibles-2/incredibles-2-background-23.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  position: relative;

  &:before {
    content: "";
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  color: #ffffff;
}

.title {
  margin: 0;
  padding-right: 10px;
  display: inline-block;
}

.button {
  background: #e9cd29;
  color: #ae6d0a;
  padding: 10px;
  text-decoration: none;

  &:hover {
    background: #ae6d0a;
    color: #e9cd29;
  }
}

.description {
  font-size: 20px;
  line-height: 30px;
}

.gallery-wrapper {
  margin-bottom: 25px;
}

.gallery-title {
  margin: 0;
  padding-right: 10px;
  display: inline-block;
}

.gallery {
  display: flex;
  flex-wrap: wrap;

  img {
    flex: 1;
    object-fit: contain;
    width: 100%;
    margin-top: 20px;
  }
}
