.btn {
  color: $text-color-light;
  display: inline-block;
  padding: $padding / 2 $padding * 2;
  border-radius: 100px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);
  text-decoration: none;

  &.-beginner {
    background: #1baabd;
    &:hover {
      background: #09728a;
    }
  }

  &.-intermediate {
    background: #925aec;

    &:hover {
      background: #5627a3;
    }
  }

  &.-advanced {
    background: #0b8f3d;

    &:hover {
      background: #0b5a29;
    }
  }
}
