.header {
  color: $brand-primary-alt;
  padding: $padding/2 $padding;
  display: flex;
  align-items: center;
}

.logo-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 0 250px;
}

.logo {
  width: 35%;
  max-width: 50px;
}

.site-title {
  font-size: $text-size-lg;
  margin: 0 0 0 $padding/2;
}

.top-nav {
  display: flex;
  flex: 2 0 500px;
  color: $text-color-medium;
}

.top-nav__item {
  color: $text-color-medium;
  padding: $padding / 2 $padding;
  position: relative;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $brand-primary;

    &:before {
      visibility: visible;
      transform: scaleX(1) translate(-50%, 0);
    }
  }

  &:before {
    content: "";
    @include transition;
    position: absolute;
    bottom: 0;
    width: 70%;
    height: 2px;
    left: 50%;
    transform-origin: 0;
    transform: scale(0) translate(-50%, 0);
    background-color: $brand-primary;
  }
}

.header-profile {
  flex: 0 0 auto;
  width: 35px;
}

.profile-icon {
  width: 100%;
  display: block;
}
