.lessons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lesson {
  background: $bg-light;
  display: flex;
  flex: 1 0 auto;
  max-width: 25%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $padding * 2 $padding $padding;
  border-radius: 2px;
  @include transition;
  @include base-box-shadow;

  &:hover {
    @include hover-box-shadow;
  }

  &:not(:last-child) {
    margin-right: $padding;
  }
}

.lesson__header {
  width: 100%;
  display: flex;
  margin-bottom: $padding * 2;
  justify-content: center;
}

.lesson__icon {
  flex: 1 0 auto;
  max-width: 150px;
  height: 150px;
  object-fit: contain;
}
